body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3eded;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}


#chat-container {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

#chat-container div {
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 12px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 5px;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    margin-left: auto;
    margin-right: 10px;
}

.chatbot-message {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    margin-right: auto;
    margin-left: 10px;
}
